@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    max-width: 600px;
    margin : auto;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    height: 100vh;
}

.heading{
    background-color : dodgerblue;
    padding : 1rem 1rem;
    margin-bottom: 1rem;
    font-size : 2rem;
    text-align : center;
}

#translate-ip{
    display : block;
    width : 100%;
    min-height : 20vh;
    padding : .5rem .5rem;
    font-size : large;
    margin-top : 2rem;
}

#translate-btn{
    display : block;
    padding : .5rem 1rem;
    margin : 1rem 1rem;
    background-color: dodgerblue;
    border-radius : .5rem;
    cursor : pointer;

}

#translate-op{
    box-sizing: border-box;
    width : 100%;
    min-height : 20vh;
    max-height: 40vh;
    border : 1px solid black;
    overflow : scroll;
}

.footer{
    margin-top : 4rem;
    text-align : center;
    background-color : whitesmoke;
    width : 100%;
    font-size : medium;
    padding : 1rem;
}

ul{
    list-style: none;
    display : flex;
    justify-content: center;
}

a{
    font-size: 2rem;
    text-decoration : none;
    color : none;
}

li{
    padding : 1rem;

}

